
.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: #111;
    padding: 10px;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}

dialog{
    width: 300px;
    height: fit-content;
    z-index: 3;
}

.dialog-btn-container{
    margin: auto;
    width: 50%;
}

.backdrop{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.533);
    
}

.hidden{
    display: none;
}